Repository COSC481W-2024Winter/JARVIS, pull requests merged in 2024-02, with the labels that each got.

#25 Add test for google sign in and email fetching
  lib/auth_gate.dart
  pubspec.lock
  pubspec.yaml
  test/email_service_test.dart
  test/emails_screen_test.dart
  test/google_sign_in_service_test.dart
Labels: test

#26 feature: Profile data for users
  lib/profile.dart
  pubspec.lock
  pubspec.yaml
  test/profile_test.dart
Labels: enhancement, Sprint 1, new feature, scope: backend, scope: ui/ux

#27 Tyler/edit profile test examples
  test/profile_test.dart
Labels: Sprint 1, scope: backend, test
