Repository COSC481W-2024Winter/JARVIS, pull requests merged in 2024-03, with the labels that each got.

#41 Feature: Fetch email subject & body
  lib/backend/email_gmail_class.dart
  lib/backend/email_gmail_signin_service.dart
  lib/emails_screen.dart
  lib/home.dart
  pubspec.lock
  pubspec.yaml
  test/MOCK/email_fetch_service_test.dart
  test/integration/email_fetch_service_real_test.dart
  test/unit/email_service_test.dart
  test/unit/emails_screen_test.dart
Labels: enhancement, Sprint 2

#42 Backend: Integrate the formatted email structure with the sorter.
  lib/backend/email_gmail_class.dart
  lib/backend/email_sorting_runner.dart
  lib/emails_screen.dart
  lib/home.dart
  test/MOCK/email_sorting_runner_test.dart
  test/MOCK/email_sorting_runner_test.mocks.dart
  test/integration/email_fetch_service_real_test.dart
  test/integration/email_real_sort_test.dart
  test/unit/emails_screen_test.dart
Labels: Sprint 2, scope: backend, test

#48 fix: moved button tests to new file
  test/unit/button_widget_test.dart
  test/unit/widget_test.dart
Labels: Sprint 2, scope: backend

#49 feature: merged old profile page, and connected it to email
  lib/home.dart
  lib/internal/multi_provider_screen.dart
  lib/profile_screen_jarvis.dart
  lib/widgets/rebuild_scope.dart
  lib/widgets/subtitle.dart
  lib/widgets/universal_icon_button.dart
  pubspec.yaml
  test/MOCK/profile_test_new.dart
Labels: enhancement, Sprint 2, new feature, scope: backend, scope: ui/ux
